<form class="" action="/" method="post">
  <h1><label for="name">Hola dime a quien saludar</label></h1>
  <br>
  <input type="text" name="name">
  <input id="name" type="submit" value="¡Hola!">
</form>
